.Background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    z-index:-3; 
}
.Overlay {
    background-color: rgba(24, 0, 54, 0.5); 
    z-index:-2;
}

.Logo {
  width: 60px;
  height: 60px;
  transition: width 0.3s ease, height 0.3s ease;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat; 
  z-index: 1;
}

@media (max-width: 576px) {
  .Logo {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 577px) {
  .Logo {
    width: 80px;
    height: 80px;
  }
}
